<?php

namespace local_symfony\validation;

use Symfony\Component\Validator\Constraint;

class {{name}} extends Constraint {
    public $message = 'The string "%string%" is not a valid {{paramconst}}.';
    
    public function validatedBy() {
	    return get_class($this).'_validator';
	}
}